In [1]:
import pandas as pd
import numpy as np

# Getting Data

In [11]:
drugs = ["C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2009.xlsx"]

for i in range(10,21):
    f_name = f"C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail20{i}.xlsx"
    print(f_name)
    drugs.append(f_name)

drugs

C:\Users\luyil\ihealth\datasets\drugs\rxdetail2010.xlsx
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2011.xlsx
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2012.xlsx
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2013.xlsx
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2014.xlsx
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2015.xlsx
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2016.xlsx
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2017.xlsx
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2018.xlsx
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2019.xlsx
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2020.xlsx

['C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2009.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2010.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2011.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2012.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2013.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2014.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2015.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2016.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2017.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2018.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2019.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\drugs\\rxdetail2020.xlsx']

In [20]:
services = ["C:\\Users\\luyil\\ihealth\\datasets\\services\\services2009.xlsx"]

for i in range(10,22):
    f_name = f"C:\\Users\\luyil\\ihealth\\datasets\\services\\services20{i}.xlsx"
    print(f_name)
    services.append(f_name)

services

C:\Users\luyil\ihealth\datasets\services\services2010.xlsx
C:\Users\luyil\ihealth\datasets\services\services2011.xlsx
C:\Users\luyil\ihealth\datasets\services\services2012.xlsx
C:\Users\luyil\ihealth\datasets\services\services2013.xlsx
C:\Users\luyil\ihealth\datasets\services\services2014.xlsx
C:\Users\luyil\ihealth\datasets\services\services2015.xlsx
C:\Users\luyil\ihealth\datasets\services\services2016.xlsx
C:\Users\luyil\ihealth\datasets\services\services2017.xlsx
C:\Users\luyil\ihealth\datasets\services\services2018.xlsx
C:\Users\luyil\ihealth\datasets\services\services2019.xlsx
C:\Users\luyil\ihealth\datasets\services\services2020.xlsx
C:\Users\luyil\ihealth\datasets\services\services2021.xlsx

['C:\\Users\\luyil\\ihealth\\datasets\\services\\services2009.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2010.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2011.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2012.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2013.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2014.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2015.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2016.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2017.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2018.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2019.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2020.xlsx',
 'C:\\Users\\luyil\\ihealth\\datasets\\services\\services2021.xlsx']

In [13]:
import re

In [15]:
path = "C:\\Users\\luyil\\ihealth\\datasets\\services\\services2009.xlsx"
numbers = re.findall(r'\d+', path)
print(numbers[0])

2009

In [21]:
services_df = []
drugs_df = []

# read services files
for xlsx in services:
    year = re.findall(r'\d+', xlsx)
    sheet_name = year[0] + " Data"
    print(xlsx, sheet_name)
    df = pd.read_excel(xlsx,sheet_name=sheet_name)
    services_df.append(df)

C:\Users\luyil\ihealth\datasets\services\services2009.xlsx 2009 Data
C:\Users\luyil\ihealth\datasets\services\services2010.xlsx 2010 Data
C:\Users\luyil\ihealth\datasets\services\services2011.xlsx 2011 Data
C:\Users\luyil\ihealth\datasets\services\services2012.xlsx 2012 Data
C:\Users\luyil\ihealth\datasets\services\services2013.xlsx 2013 Data
C:\Users\luyil\ihealth\datasets\services\services2014.xlsx 2014 Data
C:\Users\luyil\ihealth\datasets\services\services2015.xlsx 2015 Data
C:\Users\luyil\ihealth\datasets\services\services2016.xlsx 2016 Data
C:\Users\luyil\ihealth\datasets\services\services2017.xlsx 2017 Data
C:\Users\luyil\ihealth\datasets\services\services2018.xlsx 2018 Data
C:\Users\luyil\ihealth\datasets\services\services2019.xlsx 2019 Data
C:\Users\luyil\ihealth\datasets\services\services2020.xlsx 2020 Data
C:\Users\luyil\ihealth\datasets\services\services2021.xlsx 2021 Data

In [22]:
services_df[0].head()

,year,unique_providers,provider_type_cd,provider_type_desc,payer,site_of_service,resource_utilization_band,ruca_provider_class,ruca_class,num_procedures,...,insurer_paid_amt_sd,insurer_paid_amt_sum,member_paid_amt_med,member_paid_amt_mean,member_paid_amt_sd,member_paid_amt_sum,total_paid_amt_med,total_paid_amt_mean,total_paid_amt_sd,total_paid_amt_sum
0,2009,73,14-20,ORTHOPEDIC SURGERY,MEDICARE,2,4,5,2,292,...,401.90,89691.97,13.04,60.90,91.03,17782.95,110.73,368.06,473.75,107474.92
1,2009,16,14-18,OPHTHALMOLOGY,MINNESOTA HEALTH CARE PROGRAMS,2,5,3,4,72,...,543.13,33491.62,0.00,2.03,17.27,146.53,124.77,467.19,543.86,33638.15
2,2009,24,14-10,GASTROENTEROLOGY,MEDICARE,2,2,5,1,75,...,218.69,14503.77,0.00,23.25,37.60,1743.87,198.84,216.63,218.44,16247.64
3,2009,14,14-18,OPHTHALMOLOGY,MEDICARE,2,3,3,2,179,...,225.10,57168.09,49.24,67.98,62.72,12169.27,499.08,387.35,267.31,69337.36
4,2009,126,14-20,ORTHOPEDIC SURGERY,MINNESOTA HEALTH CARE PROGRAMS,2,5,1,3,1106,...,780.47,522142.33,0.00,1.42,22.43,1575.80,140.00,473.52,782.60,523718.13

In [23]:
# read drugs files
for xlsx in drugs:
    year = re.findall(r'\d+', xlsx)
    sheet_name = year[0] + " Data"
    print(xlsx, sheet_name)
    df = pd.read_excel(xlsx,sheet_name=sheet_name)
    drugs_df.append(df)

C:\Users\luyil\ihealth\datasets\drugs\rxdetail2009.xlsx 2009 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2010.xlsx 2010 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2011.xlsx 2011 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2012.xlsx 2012 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2013.xlsx 2013 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2014.xlsx 2014 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2015.xlsx 2015 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2016.xlsx 2016 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2017.xlsx 2017 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2018.xlsx 2018 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2019.xlsx 2019 Data
C:\Users\luyil\ihealth\datasets\drugs\rxdetail2020.xlsx 2020 Data

In [24]:
drugs_df[0].head()

,year,record_type,number_scripts,ndc9,npropname,propname,generic_drug_ind_code,ther_class,labelername,dosage_form,...,insurer_paid_stddev,insurer_paid_sum,member_paid_median,member_paid_mean,member_paid_stddev,member_paid_sum,total_paid_median,total_paid_mean,total_paid_stddev,total_paid_sum
0,2009,NDC,94,581770212,PRENATAL VIT W/ DOCUSATE-FE FUMARATE-FOLIC ACID,PRENATAL MR 90 FE,Generic,Nutritional Products,ETHEX,TABLET EXTENDED RELEASE,...,5.13,308.19,8.08,8.87,7.65,834.56,10.00,12.15,7.20,1142.75
1,2009,NDC,1419,602580162,B-COMPLEX W/ C & FOLIC ACID,RENAL,Brand,Nutritional Products,CYPRESS PHARMACEUTICAL,CAPSULE,...,4.46,5234.90,5.00,5.33,5.15,7570.88,7.44,9.02,3.76,12810.21
2,2009,NDC,1495,3787003,PAROXETINE HCL,PAROXETINE HCL,Generic,Central Nervous System Drugs,MYLAN,TABLET,...,27.35,31807.00,10.00,12.67,10.31,18950.29,21.79,34.01,29.48,50846.65
3,2009,NDC,240,5271336,DOXYCYCLINE HYCLATE,DOXYCYCLINE HYCLATE,Generic,Anti-Infective Agents,LANNETT,TABLET,...,37.91,13372.60,1.10,7.96,15.62,1911.37,54.18,63.72,38.49,15295.15
4,2009,NDC,2249,516600526,LORATADINE,ALLERGY RELIEF,Brand,Respiratory Agents,OHM LABS,TABLET,...,3.89,13564.98,0.00,3.23,5.08,7267.89,7.00,9.28,5.08,20875.47

# Concate Data

In [25]:
# concate services data
combined_services_data = services_df[0]

for i in range(1,len(services_df)):
    print(i)
    combined_services_data = pd.concat([combined_services_data, services_df[i]],axis=0)

combined_services_data.head()

1
2
3
4
5
6
7
8
9
10
11
12

,year,unique_providers,provider_type_cd,provider_type_desc,payer,site_of_service,resource_utilization_band,ruca_provider_class,ruca_class,num_procedures,...,svc_code,svc_code_type,svc_code_desc,svc_code_ctg,svc_code_ctg_desc,clm_cnt,member_months,total_paid_amt_median,insurer_paid_amt_median,member_paid_amt_median
0,2009.0,73.0,14-20,ORTHOPEDIC SURGERY,MEDICARE,2.0,4.0,5.0,2.0,292.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2009.0,16.0,14-18,OPHTHALMOLOGY,MINNESOTA HEALTH CARE PROGRAMS,2.0,5.0,3.0,4.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2009.0,24.0,14-10,GASTROENTEROLOGY,MEDICARE,2.0,2.0,5.0,1.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2009.0,14.0,14-18,OPHTHALMOLOGY,MEDICARE,2.0,3.0,3.0,2.0,179.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009.0,126.0,14-20,ORTHOPEDIC SURGERY,MINNESOTA HEALTH CARE PROGRAMS,2.0,5.0,1.0,3.0,1106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# concate drugs data
combined_drugs_data = drugs_df[0]

for i in range(1,len(drugs_df)):
    print(i)
    combined_drugs_data = pd.concat([combined_drugs_data, drugs_df[i]],axis=0)

combined_drugs_data.head()

1
2
3
4
5
6
7
8
9
10
11

,year,record_type,number_scripts,ndc9,npropname,propname,generic_drug_ind_code,ther_class,labelername,dosage_form,...,insurer_paid_stddev,insurer_paid_sum,member_paid_median,member_paid_mean,member_paid_stddev,member_paid_sum,total_paid_median,total_paid_mean,total_paid_stddev,total_paid_sum
0,2009,NDC,94,581770212,PRENATAL VIT W/ DOCUSATE-FE FUMARATE-FOLIC ACID,PRENATAL MR 90 FE,Generic,Nutritional Products,ETHEX,TABLET EXTENDED RELEASE,...,5.13,308.19,8.08,8.87,7.65,834.56,10.00,12.15,7.20,1142.75
1,2009,NDC,1419,602580162,B-COMPLEX W/ C & FOLIC ACID,RENAL,Brand,Nutritional Products,CYPRESS PHARMACEUTICAL,CAPSULE,...,4.46,5234.90,5.00,5.33,5.15,7570.88,7.44,9.02,3.76,12810.21
2,2009,NDC,1495,3787003,PAROXETINE HCL,PAROXETINE HCL,Generic,Central Nervous System Drugs,MYLAN,TABLET,...,27.35,31807.00,10.00,12.67,10.31,18950.29,21.79,34.01,29.48,50846.65
3,2009,NDC,240,5271336,DOXYCYCLINE HYCLATE,DOXYCYCLINE HYCLATE,Generic,Anti-Infective Agents,LANNETT,TABLET,...,37.91,13372.60,1.10,7.96,15.62,1911.37,54.18,63.72,38.49,15295.15
4,2009,NDC,2249,516600526,LORATADINE,ALLERGY RELIEF,Brand,Respiratory Agents,OHM LABS,TABLET,...,3.89,13564.98,0.00,3.23,5.08,7267.89,7.00,9.28,5.08,20875.47

In [29]:
combined_drugs_data.shape, combined_services_data.shape

((353018, 38), (6887415, 48))

# Save Files

In [30]:
# included index
# save services file
combined_services_data.to_csv(r"C:\Users\luyil\ihealth\datasets\preproc\services_data.csv")
# save drugs file
combined_drugs_data.to_csv(r"C:\Users\luyil\ihealth\datasets\preproc\drugs.data.csv")

In [31]:
# not included index
# save services file
combined_services_data.to_csv(r"C:\Users\luyil\ihealth\datasets\preproc\services_data_nc.csv", index=False)
# save drugs file
combined_drugs_data.to_csv(r"C:\Users\luyil\ihealth\datasets\preproc\drugs.data_nc.csv", index=False)