In [1]:
import pandas as pd
import numpy as np
import re

# Read Data

In [2]:
services_data = pd.read_csv(r"C:\Users\luyil\ihealth\datasets\preproc\services_data.csv")
services_data.shape

C:\Users\luyil\AppData\Local\Temp\ipykernel_54120\3054577732.py:1: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  services_data = pd.read_csv(r"C:\Users\luyil\ihealth\datasets\preproc\services_data.csv")

(6887415, 49)

In [3]:
services_data.head()

,Unnamed: 0,year,unique_providers,provider_type_cd,provider_type_desc,payer,site_of_service,resource_utilization_band,ruca_provider_class,ruca_class,...,svc_code,svc_code_type,svc_code_desc,svc_code_ctg,svc_code_ctg_desc,clm_cnt,member_months,total_paid_amt_median,insurer_paid_amt_median,member_paid_amt_median
0,0,2009.0,73.0,14-20,ORTHOPEDIC SURGERY,MEDICARE,2.0,4.0,5.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2009.0,16.0,14-18,OPHTHALMOLOGY,MINNESOTA HEALTH CARE PROGRAMS,2.0,5.0,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2009.0,24.0,14-10,GASTROENTEROLOGY,MEDICARE,2.0,2.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2009.0,14.0,14-18,OPHTHALMOLOGY,MEDICARE,2.0,3.0,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2009.0,126.0,14-20,ORTHOPEDIC SURGERY,MINNESOTA HEALTH CARE PROGRAMS,2.0,5.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
drugs_data = pd.read_csv(r"C:\Users\luyil\ihealth\datasets\preproc\drugs.data.csv")
drugs_data.shape

(353018, 39)

In [5]:
drugs_data.head()

,Unnamed: 0,year,record_type,number_scripts,ndc9,npropname,propname,generic_drug_ind_code,ther_class,labelername,...,insurer_paid_stddev,insurer_paid_sum,member_paid_median,member_paid_mean,member_paid_stddev,member_paid_sum,total_paid_median,total_paid_mean,total_paid_stddev,total_paid_sum
0,0,2009,NDC,94,581770212,PRENATAL VIT W/ DOCUSATE-FE FUMARATE-FOLIC ACID,PRENATAL MR 90 FE,Generic,Nutritional Products,ETHEX,...,5.13,308.19,8.08,8.87,7.65,834.56,10.00,12.15,7.20,1142.75
1,1,2009,NDC,1419,602580162,B-COMPLEX W/ C & FOLIC ACID,RENAL,Brand,Nutritional Products,CYPRESS PHARMACEUTICAL,...,4.46,5234.90,5.00,5.33,5.15,7570.88,7.44,9.02,3.76,12810.21
2,2,2009,NDC,1495,3787003,PAROXETINE HCL,PAROXETINE HCL,Generic,Central Nervous System Drugs,MYLAN,...,27.35,31807.00,10.00,12.67,10.31,18950.29,21.79,34.01,29.48,50846.65
3,3,2009,NDC,240,5271336,DOXYCYCLINE HYCLATE,DOXYCYCLINE HYCLATE,Generic,Anti-Infective Agents,LANNETT,...,37.91,13372.60,1.10,7.96,15.62,1911.37,54.18,63.72,38.49,15295.15
4,4,2009,NDC,2249,516600526,LORATADINE,ALLERGY RELIEF,Brand,Respiratory Agents,OHM LABS,...,3.89,13564.98,0.00,3.23,5.08,7267.89,7.00,9.28,5.08,20875.47

# Services Data
## Missing Values

In [6]:
services_data.describe()

,Unnamed: 0,year,unique_providers,site_of_service,resource_utilization_band,ruca_provider_class,ruca_class,num_procedures,unique_patients,proc_per_prov_med,...,service_year,county_code,age_group_code,unique_member_cnt,svc_code_ctg,clm_cnt,member_months,total_paid_amt_median,insurer_paid_amt_median,member_paid_amt_median
count,6.887415e+06,15330.0,15330.000000,15330.000000,15330.000000,15330.000000,15330.000000,1.533000e+04,15330.000000,15330.000000,...,6.872085e+06,6.872085e+06,6.872085e+06,6.872085e+06,6.872085e+06,6.872085e+06,6.872085e+06,6.872085e+06,6.872085e+06,6.872085e+06
mean,2.860733e+05,2009.0,81.673516,1.901631,3.451011,2.821461,2.443640,4.831599e+03,1056.547162,17.538519,...,2.015553e+03,8.468737e+01,3.077994e+00,1.165078e+02,4.907491e+03,2.871521e+02,1.337061e+03,3.324769e+02,3.037590e+02,1.444798e+01
std,1.662745e+05,0.0,137.673820,1.158170,1.249377,1.729626,1.167486,3.515803e+04,5479.731743,60.062714,...,3.435660e+00,5.230474e+01,1.286382e+00,5.667504e+02,1.452785e+04,2.718140e+03,6.528391e+03,2.249848e+03,2.209964e+03,9.803444e+01
min,0.000000e+00,2009.0,11.000000,1.000000,1.000000,1.000000,1.000000,1.200000e+01,11.000000,1.000000,...,2.010000e+03,1.000000e+00,1.000000e+00,1.100000e+01,1.000000e+00,1.100000e+01,1.600000e+01,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.422100e+05,2009.0,18.000000,1.000000,3.000000,1.000000,1.000000,1.630000e+02,62.000000,3.000000,...,2.013000e+03,3.700000e+01,2.000000e+00,1.600000e+01,2.130000e+02,2.600000e+01,1.880000e+02,6.050000e+00,3.980000e+00,0.000000e+00
50%,2.856980e+05,2009.0,34.000000,2.000000,4.000000,3.000000,2.000000,5.445000e+02,173.000000,5.000000,...,2.016000e+03,8.500000e+01,3.000000e+00,2.900000e+01,2.330000e+02,5.200000e+01,3.340000e+02,3.902000e+01,3.083000e+01,0.000000e+00
75%,4.291850e+05,2009.0,82.000000,2.000000,5.000000,5.000000,4.000000,1.931750e+03,585.000000,10.000000,...,2.019000e+03,1.330000e+02,4.000000e+00,7.100000e+01,2.430000e+02,1.390000e+02,8.100000e+02,1.356300e+02,1.127200e+02,1.250000e+00
max,6.102610e+05,2009.0,3189.000000,5.000000,5.000000,5.000000,4.000000,2.632373e+06,348808.000000,1687.000000,...,2.021000e+03,1.730000e+02,5.000000e+00,7.718600e+04,5.003300e+04,8.992760e+05,8.771500e+05,2.400070e+05,2.400070e+05,1.413096e+04

In [7]:
services_data.isnull().mean()

Unnamed: 0                   0.000000
year                         0.997774
unique_providers             0.997774
provider_type_cd             0.997774
provider_type_desc           0.997774
payer                        0.000000
site_of_service              0.997774
resource_utilization_band    0.997774
ruca_provider_class          0.997774
ruca_class                   0.997774
num_procedures               0.997774
unique_patients              0.997774
proc_per_prov_med            0.997774
proc_per_prov_mean           0.997774
proc_per_prov_sd             0.997774
charge_amt_med               0.997774
charge_amt_mean              0.997774
charge_amt_sd                0.997774
charge_amt_sum               0.997774
insurer_paid_amt_med         0.997774
insurer_paid_amt_mean        0.000000
insurer_paid_amt_sd          0.997774
insurer_paid_amt_sum         0.000000
member_paid_amt_med          0.997774
member_paid_amt_mean         0.000000
member_paid_amt_sd           0.997774
member_paid_amt_sum          0.000000
total_paid_amt_med           0.997774
total_paid_amt_mean          0.000000
total_paid_amt_sd            0.997774
total_paid_amt_sum           0.000000
row_id                       0.002226
service_year                 0.002226
county_code                  0.002226
county_name                  0.002226
age_group_code               0.002226
age_group_name               0.002226
sex                          0.002226
unique_member_cnt            0.002226
svc_code                     0.002226
svc_code_type                0.002226
svc_code_desc                0.002227
svc_code_ctg                 0.002226
svc_code_ctg_desc            0.002226
clm_cnt                      0.002226
member_months                0.002226
total_paid_amt_median        0.002226
insurer_paid_amt_median      0.002226
member_paid_amt_median       0.002226
dtype: float64

when we looked at the missing values and data, we found data can actually separated by two parts.

In [15]:
service_df1 = services_data[~services_data["year"].isnull()]
service_df2 = services_data[services_data["year"].isnull()]

In [16]:
service_df1.isnull().mean()

Unnamed: 0                   0.0
year                         0.0
unique_providers             0.0
provider_type_cd             0.0
provider_type_desc           0.0
payer                        0.0
site_of_service              0.0
resource_utilization_band    0.0
ruca_provider_class          0.0
ruca_class                   0.0
num_procedures               0.0
unique_patients              0.0
proc_per_prov_med            0.0
proc_per_prov_mean           0.0
proc_per_prov_sd             0.0
charge_amt_med               0.0
charge_amt_mean              0.0
charge_amt_sd                0.0
charge_amt_sum               0.0
insurer_paid_amt_med         0.0
insurer_paid_amt_mean        0.0
insurer_paid_amt_sd          0.0
insurer_paid_amt_sum         0.0
member_paid_amt_med          0.0
member_paid_amt_mean         0.0
member_paid_amt_sd           0.0
member_paid_amt_sum          0.0
total_paid_amt_med           0.0
total_paid_amt_mean          0.0
total_paid_amt_sd            0.0
total_paid_amt_sum           0.0
row_id                       1.0
service_year                 1.0
county_code                  1.0
county_name                  1.0
age_group_code               1.0
age_group_name               1.0
sex                          1.0
unique_member_cnt            1.0
svc_code                     1.0
svc_code_type                1.0
svc_code_desc                1.0
svc_code_ctg                 1.0
svc_code_ctg_desc            1.0
clm_cnt                      1.0
member_months                1.0
total_paid_amt_median        1.0
insurer_paid_amt_median      1.0
member_paid_amt_median       1.0
dtype: float64

In [17]:
service_df2.isnull().mean()

Unnamed: 0                   0.000000
year                         1.000000
unique_providers             1.000000
provider_type_cd             1.000000
provider_type_desc           1.000000
payer                        0.000000
site_of_service              1.000000
resource_utilization_band    1.000000
ruca_provider_class          1.000000
ruca_class                   1.000000
num_procedures               1.000000
unique_patients              1.000000
proc_per_prov_med            1.000000
proc_per_prov_mean           1.000000
proc_per_prov_sd             1.000000
charge_amt_med               1.000000
charge_amt_mean              1.000000
charge_amt_sd                1.000000
charge_amt_sum               1.000000
insurer_paid_amt_med         1.000000
insurer_paid_amt_mean        0.000000
insurer_paid_amt_sd          1.000000
insurer_paid_amt_sum         0.000000
member_paid_amt_med          1.000000
member_paid_amt_mean         0.000000
member_paid_amt_sd           1.000000
member_paid_amt_sum          0.000000
total_paid_amt_med           1.000000
total_paid_amt_mean          0.000000
total_paid_amt_sd            1.000000
total_paid_amt_sum           0.000000
row_id                       0.000000
service_year                 0.000000
county_code                  0.000000
county_name                  0.000000
age_group_code               0.000000
age_group_name               0.000000
sex                          0.000000
unique_member_cnt            0.000000
svc_code                     0.000000
svc_code_type                0.000000
svc_code_desc                0.000001
svc_code_ctg                 0.000000
svc_code_ctg_desc            0.000000
clm_cnt                      0.000000
member_months                0.000000
total_paid_amt_median        0.000000
insurer_paid_amt_median      0.000000
member_paid_amt_median       0.000000
dtype: float64

In [18]:
service_df1 = service_df1.dropna(axis=1)
service_df1.isnull().mean()

Unnamed: 0                   0.0
year                         0.0
unique_providers             0.0
provider_type_cd             0.0
provider_type_desc           0.0
payer                        0.0
site_of_service              0.0
resource_utilization_band    0.0
ruca_provider_class          0.0
ruca_class                   0.0
num_procedures               0.0
unique_patients              0.0
proc_per_prov_med            0.0
proc_per_prov_mean           0.0
proc_per_prov_sd             0.0
charge_amt_med               0.0
charge_amt_mean              0.0
charge_amt_sd                0.0
charge_amt_sum               0.0
insurer_paid_amt_med         0.0
insurer_paid_amt_mean        0.0
insurer_paid_amt_sd          0.0
insurer_paid_amt_sum         0.0
member_paid_amt_med          0.0
member_paid_amt_mean         0.0
member_paid_amt_sd           0.0
member_paid_amt_sum          0.0
total_paid_amt_med           0.0
total_paid_amt_mean          0.0
total_paid_amt_sd            0.0
total_paid_amt_sum           0.0
dtype: float64

In [19]:
service_df1.head()

,Unnamed: 0,year,unique_providers,provider_type_cd,provider_type_desc,payer,site_of_service,resource_utilization_band,ruca_provider_class,ruca_class,...,insurer_paid_amt_sd,insurer_paid_amt_sum,member_paid_amt_med,member_paid_amt_mean,member_paid_amt_sd,member_paid_amt_sum,total_paid_amt_med,total_paid_amt_mean,total_paid_amt_sd,total_paid_amt_sum
0,0,2009.0,73.0,14-20,ORTHOPEDIC SURGERY,MEDICARE,2.0,4.0,5.0,2.0,...,401.90,89691.97,13.04,60.90,91.03,17782.95,110.73,368.06,473.75,107474.92
1,1,2009.0,16.0,14-18,OPHTHALMOLOGY,MINNESOTA HEALTH CARE PROGRAMS,2.0,5.0,3.0,4.0,...,543.13,33491.62,0.00,2.03,17.27,146.53,124.77,467.19,543.86,33638.15
2,2,2009.0,24.0,14-10,GASTROENTEROLOGY,MEDICARE,2.0,2.0,5.0,1.0,...,218.69,14503.77,0.00,23.25,37.60,1743.87,198.84,216.63,218.44,16247.64
3,3,2009.0,14.0,14-18,OPHTHALMOLOGY,MEDICARE,2.0,3.0,3.0,2.0,...,225.10,57168.09,49.24,67.98,62.72,12169.27,499.08,387.35,267.31,69337.36
4,4,2009.0,126.0,14-20,ORTHOPEDIC SURGERY,MINNESOTA HEALTH CARE PROGRAMS,2.0,5.0,1.0,3.0,...,780.47,522142.33,0.00,1.42,22.43,1575.80,140.00,473.52,782.60,523718.13

In [20]:
service_df2 = service_df2.dropna(axis=1)
service_df2.isnull().mean()

Unnamed: 0                 0.0
payer                      0.0
insurer_paid_amt_mean      0.0
insurer_paid_amt_sum       0.0
member_paid_amt_mean       0.0
member_paid_amt_sum        0.0
total_paid_amt_mean        0.0
total_paid_amt_sum         0.0
row_id                     0.0
service_year               0.0
county_code                0.0
county_name                0.0
age_group_code             0.0
age_group_name             0.0
sex                        0.0
unique_member_cnt          0.0
svc_code                   0.0
svc_code_type              0.0
svc_code_ctg               0.0
svc_code_ctg_desc          0.0
clm_cnt                    0.0
member_months              0.0
total_paid_amt_median      0.0
insurer_paid_amt_median    0.0
member_paid_amt_median     0.0
dtype: float64

In [21]:
service_df2.head()

,Unnamed: 0,payer,insurer_paid_amt_mean,insurer_paid_amt_sum,member_paid_amt_mean,member_paid_amt_sum,total_paid_amt_mean,total_paid_amt_sum,row_id,service_year,...,unique_member_cnt,svc_code,svc_code_type,svc_code_ctg,svc_code_ctg_desc,clm_cnt,member_months,total_paid_amt_median,insurer_paid_amt_median,member_paid_amt_median
15330,0,MEDICARE,0.00,0.00,0.00,0.00,0.00,0.00,3127575.0,2010.0,...,15.0,G8482,CPT/HCPCS,999.0,HCPCS Level II codes not classified,21.0,180.0,0.00,0.00,0.00
15331,1,COMMERCIAL,258.94,3366.29,71.67,931.73,330.61,4298.02,2888025.0,2010.0,...,13.0,76705,CPT/HCPCS,196.0,Ultrasound - Abdomen/retroperitoneum - Diagnostic,24.0,137.0,328.00,284.33,43.26
15332,2,MINNESOTA HEALTH CARE PROGRAMS,225.33,28392.81,0.00,0.00,225.33,28392.81,2878775.0,2010.0,...,126.0,A0425,CPT/HCPCS,239.0,"Transportation - Patient, provider, equipment",205.0,1321.0,81.83,81.83,0.00
15333,3,COMMERCIAL,1311.12,14422.37,32.76,360.45,1343.89,14782.82,3142946.0,2010.0,...,11.0,C8929,CPT/HCPCS,193.0,Ultrasound - Heart (echocardiogram) - Diagnostic,11.0,132.0,1681.67,1674.97,0.00
15334,4,MEDICARE,2922.00,46752.03,1102.31,17637.01,4024.31,64389.04,3127585.0,2010.0,...,16.0,J0690,CPT/HCPCS,240.0,"Medications (injections, infusions, other forms)",22.0,192.0,0.00,0.00,0.00

In [29]:
service_df1.shape, service_df2.shape

((15330, 31), (6872085, 25))

In [22]:
# save data files
service_df1.to_csv(r"C:\Users\luyil\ihealth\datasets\preproc\services\providers.csv")
service_df2.to_csv(r"C:\Users\luyil\ihealth\datasets\preproc\services\payers.csv")

# Drugs Data
## Missing Values

In [23]:
drugs_data.describe()

,Unnamed: 0,year,number_scripts,ndc9,unique_members,total_cost,cost_per_user,cost_per_script,cost_per_days_supply,cost_per_unit_dispensed,...,insurer_paid_stddev,insurer_paid_sum,member_paid_median,member_paid_mean,member_paid_stddev,member_paid_sum,total_paid_median,total_paid_mean,total_paid_stddev,total_paid_sum
count,353018.000000,353018.000000,353018.000000,3.530180e+05,353018.000000,3.530180e+05,353018.000000,353018.000000,353018.000000,353018.000000,...,353018.000000,3.530180e+05,353018.000000,353018.000000,353018.000000,3.530180e+05,353018.000000,353018.000000,353018.000000,3.530180e+05
mean,14819.670391,2014.780804,1894.402957,3.053579e+08,750.263290,1.667826e+05,836.166304,207.593672,8.480958,17.232266,...,111.595895,1.421987e+05,7.986443,16.547680,28.042932,2.396364e+04,183.785483,207.593672,112.821713,1.667826e+05
std,8676.486608,3.404984,6560.137067,2.843599e+08,2799.912938,1.343777e+06,5801.428629,1194.542549,86.523179,240.861797,...,573.503430,1.226504e+06,28.670851,48.402278,91.082559,1.561076e+05,1130.153370,1194.542549,575.153361,1.343777e+06
min,0.000000,2009.000000,11.000000,2.143300e+04,11.000000,2.350000e+00,0.150000,0.110000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.010000,0.110000,0.000000,2.350000e+00
25%,7354.000000,2012.000000,70.000000,4.560458e+06,29.000000,2.078898e+03,23.390000,10.460000,0.370000,0.180000,...,6.630000,1.448535e+03,0.000000,1.040000,2.110000,1.943825e+02,8.050000,10.460000,7.220000,2.078898e+03
50%,14709.000000,2015.000000,238.000000,2.930001e+08,95.000000,1.111101e+04,67.390000,28.950000,1.030000,0.530000,...,21.590000,8.051815e+03,1.900000,5.390000,7.440000,1.418225e+03,21.860000,28.950000,22.745000,1.111101e+04
75%,22063.000000,2018.000000,1063.000000,5.976202e+08,413.000000,5.215897e+04,243.577500,96.810000,3.640000,2.240000,...,67.340000,3.862785e+04,10.000000,15.440000,22.210000,8.420892e+03,76.090000,96.810000,69.210000,5.215897e+04
max,32524.000000,2020.000000,261468.000000,9.920708e+08,164057.000000,1.766089e+08,533105.280000,136758.550000,25550.700000,25773.720000,...,83280.890000,1.649218e+08,2040.000000,2998.490000,6410.470000,1.734328e+07,129000.000000,136758.550000,83319.080000,1.766089e+08

In [24]:
drugs_data.isnull().mean()

Unnamed: 0                 0.000000
year                       0.000000
record_type                0.000000
number_scripts             0.000000
ndc9                       0.000000
npropname                  0.000000
propname                   0.000000
generic_drug_ind_code      0.000000
ther_class                 0.000000
labelername                0.000000
dosage_form                0.000000
active_strength            0.039171
active_ingred_unit         0.048864
payer                      0.000000
unique_members             0.000000
total_cost                 0.000000
cost_per_user              0.000000
cost_per_script            0.000000
cost_per_days_supply       0.000000
cost_per_unit_dispensed    0.000000
total_scripts_filled       0.000000
days_supply_median         0.000000
days_supply_mean           0.000000
days_supply_stddev         0.000000
quantity_median            0.000000
quantity_mean              0.000000
quantity_stddev            0.000000
insurer_paid_median        0.000000
insurer_paid_mean          0.000000
insurer_paid_stddev        0.000000
insurer_paid_sum           0.000000
member_paid_median         0.000000
member_paid_mean           0.000000
member_paid_stddev         0.000000
member_paid_sum            0.000000
total_paid_median          0.000000
total_paid_mean            0.000000
total_paid_stddev          0.000000
total_paid_sum             0.000000
dtype: float64

there are 3-4% na values, which means we can drop them

In [25]:
drugs_data = drugs_data.dropna()
drugs_data.isnull().mean()

Unnamed: 0                 0.0
year                       0.0
record_type                0.0
number_scripts             0.0
ndc9                       0.0
npropname                  0.0
propname                   0.0
generic_drug_ind_code      0.0
ther_class                 0.0
labelername                0.0
dosage_form                0.0
active_strength            0.0
active_ingred_unit         0.0
payer                      0.0
unique_members             0.0
total_cost                 0.0
cost_per_user              0.0
cost_per_script            0.0
cost_per_days_supply       0.0
cost_per_unit_dispensed    0.0
total_scripts_filled       0.0
days_supply_median         0.0
days_supply_mean           0.0
days_supply_stddev         0.0
quantity_median            0.0
quantity_mean              0.0
quantity_stddev            0.0
insurer_paid_median        0.0
insurer_paid_mean          0.0
insurer_paid_stddev        0.0
insurer_paid_sum           0.0
member_paid_median         0.0
member_paid_mean           0.0
member_paid_stddev         0.0
member_paid_sum            0.0
total_paid_median          0.0
total_paid_mean            0.0
total_paid_stddev          0.0
total_paid_sum             0.0
dtype: float64

In [26]:
drugs_data.head()

,Unnamed: 0,year,record_type,number_scripts,ndc9,npropname,propname,generic_drug_ind_code,ther_class,labelername,...,insurer_paid_stddev,insurer_paid_sum,member_paid_median,member_paid_mean,member_paid_stddev,member_paid_sum,total_paid_median,total_paid_mean,total_paid_stddev,total_paid_sum
0,0,2009,NDC,94,581770212,PRENATAL VIT W/ DOCUSATE-FE FUMARATE-FOLIC ACID,PRENATAL MR 90 FE,Generic,Nutritional Products,ETHEX,...,5.13,308.19,8.08,8.87,7.65,834.56,10.00,12.15,7.20,1142.75
1,1,2009,NDC,1419,602580162,B-COMPLEX W/ C & FOLIC ACID,RENAL,Brand,Nutritional Products,CYPRESS PHARMACEUTICAL,...,4.46,5234.90,5.00,5.33,5.15,7570.88,7.44,9.02,3.76,12810.21
2,2,2009,NDC,1495,3787003,PAROXETINE HCL,PAROXETINE HCL,Generic,Central Nervous System Drugs,MYLAN,...,27.35,31807.00,10.00,12.67,10.31,18950.29,21.79,34.01,29.48,50846.65
3,3,2009,NDC,240,5271336,DOXYCYCLINE HYCLATE,DOXYCYCLINE HYCLATE,Generic,Anti-Infective Agents,LANNETT,...,37.91,13372.60,1.10,7.96,15.62,1911.37,54.18,63.72,38.49,15295.15
4,4,2009,NDC,2249,516600526,LORATADINE,ALLERGY RELIEF,Brand,Respiratory Agents,OHM LABS,...,3.89,13564.98,0.00,3.23,5.08,7267.89,7.00,9.28,5.08,20875.47

In [27]:
drugs_data.shape

(335768, 39)

In [28]:
# save file
drugs_data.to_csv(r"C:\Users\luyil\ihealth\datasets\preproc\drugs\cleaned_drugs_data.csv")